<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/QnA_List.css">
  <link rel="stylesheet" href="../static/css/modal.css">
  <title>Hip</title>
</head>

<body>
  <header>
    <form action="/search/:searchWord" id="search-form">
      <input type="text" id="search-input" name="searchWord" placeholder="검색어를 입력해주세요."><button id="search-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>

        {% if request.session.user_id %}
        <div id="sign-in-up">
            <span>{{request.session.username}}님 환영합니다.</span> | <span><a href="/logout">Logout</a></span>
        </div>

        {% else %}
        <div id="sign-in-up">
            <span class="sign"><a href="/signin">Sign up</a></span><span style="font-size:2rem;"> | </span><span class="sign"><a href="/signup">Sign in</a></span>
        </div>
        {% endif %}
  </header>
  <nav id="category">
    <ul id="category-list">
      <li>방영 드라마</li>
      <li>종영 드라마</li>
      <li>예능 | 오락</li>
      <li>시사 | 교양</li>
      <li>애니메이션</li>
      <li>스포츠</li>
      <li>영화</li>
    </ul>
  </nav>
  <div id="QnA-Body">
    <span id="QnA-text">QnA</span>
    <button type="button" name="button" id="addButt">ADD</button>
    <select class="" name="" id="dramaSelect">
        <option value="">내성적인 보스</option>
        <option value="">최고의 한방</option>
        <option value="">품위있는 그녀</option>
        <option value="">수상한 파트너</option>
      </select>
    <hr>
    {% for question in question_list %}

    <div id="body-box" onclick="openModal()">
      <div id="box-picture">
          <img src="/static/{{question.upload.url}}" alt="" width="100%;">
      </div>
      <div id="circle">
      </div>
      <span id="name">홍길동</span>
      <div id="Question">
          {{question.title}}
      </div>
      <span id="answer">답글 1</span>
      <span id="hashtag">#운빨로맨스</span>
      <span id="hashtag">#류준열</span>
      <span id="hashtag">#남방</span>
    </div>

    {% endfor %}
      <div id="modal-container">
        <div id="about-question">
          <img src="../static/img/question-img.png" alt="image"><br>
          <div id="hashtag">
            <span>#운빨로맨스</span><span>#류준열</span><span>#남방</span>
          </div>
        </div>

        <div id="QnA-container">
          <div class="QnA">
            <img src="../static/img/profile.png" alt="profile">
            <span>홍길동</span>
            <br>
            <p>
              운빨 로맨스 류준열 바지 아시는분??급하게 찾습니당ㅠㅠ
            </p>
          </div>
          <button id="answer-btn"><i class="fa fa-plus" aria-hidden="true"></i></button>
          <span id="answer-num">1 Answer</span>
          <div id="answer-list">
            <div class="QnA">
              <img src="../static/img/profile.png" alt="profile">
              <span>홍길동</span>
              <br>
              <p>
                그거 아마 ABC회사의 AAA일껄요? 아마...
              </p>
            </div>
            <div class="QnA">
              <img src="../static/img/profile.png" alt="profile">
              <span>홍길동</span>
              <br>
              <p>
                그거 아마 ABC회사의 AAA일껄요? 아마...
              </p>
            </div>
            <div class="QnA">
              <img src="../static/img/profile.png" alt="profile">
              <span>홍길동</span>
              <br>
              <p>
                그거 아마 ABC회사의 AAA일껄요? 아마...
              </p>
            </div>
          </div>
        </div>
      </div>
</body>
<script src="../static/js/modal.js"></script>

</html>
