body,html,input,button,i,ul,li,h1{
    margin: 0;
    padding: 0;
    border-width: 0;
    list-style: none;
}

header{
    height: auto;
}

#logo{
    width: 12rem;
    margin: 1.2rem 0 0 5rem;
    float: left;
}

#search-form{
    margin: 2.5rem 0 0 8rem;
    display: inline-block;
}

#search-input{
    width: 28rem;
    height: 2.8rem;
    font-size: 1.2rem;
    padding-left: 0.6rem;
    border: 0.1px solid #aaa;
    display: inline-block;
}

#search-btn{
    width: 3rem;
    height: 3rem;
    font-size: 1.2rem;
    color: #fff;
    border: 0.1px solid #FF376B;
    background-color: #FF376B;
    display: inline-block;
}

#sign-in-up{
    display: inline-block;
    margin-left: 6rem;
}

.sign{
    font-size: 2rem;
    padding: 0 1.5rem;
}

section{
    padding-top: 3rem;
}

#category{
    background-color: #F55291;
    display: inline-block;
    margin-left: 3rem;
    float: left;
}

#category ul{
    margin: 0;
    list-style: none;
    padding: 0;
    color: #fff;
}

#category li{
    padding: 1.2rem 3.5rem;
    text-align: center;
    font-size: 2rem;
    border: 0.1px solid #F55291;
}

#category li:hover{
    background: #fff;
    color: #F55291;
    cursor: pointer;
    border: 0.1px solid #F55291;
}

#main-content{
    display: inline-block;
    float: left;
    padding-left: 5rem;
}

#image-slider{
    width: 36rem;
    height: 20.25rem;
    background-image: url("../img/sad.jpg");
    background-size: cover;
    background-position: center;
    display: inline-block;
    float: left;
}

#image-slider nav{
    display: inline-block;
}

#image-slider span:hover{
    cursor: pointer;
}

#hot-drama{
    display: inline-block;
    width: 15.5rem;
    height: 20.25rem;
    border: 0.1px solid #e5e5e5;
    margin-left: 5rem;
    background-image: url('../img/drama-poster.jpg');
    background-position: center;
    background-size: cover;
}

.thumbnail{
    width: 26rem;
    height: 16rem;
    border: 0.1px solid #d5d5d5;
    display: inline-block;
}

.thumbnail, .second-thumbnail{
    margin-top: 3rem;
}

.thumbnail a{
    float: right;
    text-decoration: none;
    color: #000;
    margin: 0.8rem 1rem 0 0;
}

.thumbnail h1{
    font-size: 2.75rem;
    padding: 0.45rem 1rem;
}

.thumbnail li{
    border: 0.01px solid #888;
    padding: 0.4rem 0.2rem;
    font-size: 1.2rem;
}

.second-thumbnail{
    margin-left: 4rem;
}