html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}

@keyframes wiggle{
    25%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    75%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

#modal-background{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
}

#modal-container{
    height: 60%;
    width: 60%;
    background-color: #fff;
    margin: 20vh 0 0 20vw;
}

#about-question {
    display: inline-block;
    float: left;
}

#about-question img{
    width: 32rem;
    margin: 1rem 0 0 1rem;
    display: inline-block;
}
#about-question span{
    padding : 0.8rem 1rem;
    font-size: 1.2rem;
    border: 0.1px solid #F55291;
    border-radius: 0.5rem;
    /*color: #F55291;*/
    color: #fff;
    background-color: #F55291;
    margin-left: 1rem;
}
#about-question #hashtag{
    margin-top: 3rem;
}

#QnA-container{
    display: inline-block;
}

.QnA{
    width: 18rem;
    height: 11rem;
    border: 0.1px solid #c5c5c5;
    margin: 1rem 0 0 1.5rem;
}

.QnA img{
    height: 2rem;
    border-radius: 2rem;
    margin: 1rem 0 0 1rem;
    float: left;
}

.QnA span{
    display: inline-block;
    font-size: 1.2rem;
    margin: 1.2rem 0 0 0.8rem;
}

.QnA p{
    width: 80%;
    height: 30%;
    margin: 2rem 0 0 10%;

}

#answer-btn{
    font-size: 2rem;
    height: 3rem;
    width: 3rem;
    color: #fff;
    background-color: #F55291;
    border-style: none;
    border-radius: 0.5rem;
    float: right;
    margin: 0.5rem 0;
    cursor: pointer;
}

#answer-btn:hover{
    animation: wiggle 0.5s;
}

#answer-num{
    display: inline-block;
    font-size: 2rem;
    margin: 1rem 0 1rem 1.8rem;
}

#answer-list{
    height: 12rem;
    overflow-y: scroll;
}